.scrollbar {
  @include hide-scrollbar;
}

.card-shadow {
  @include box-shadow;
}

.body {
  a:hover {
    background-color: #4545a5;
  }

  a:hover .cursor_color {
    color: #fff !important;
  }
}

.h-0 {
  height: 0;
}

.contact {
  padding-top: 22px;
  padding-bottom: 21px;
}
