@mixin hide-scrollbar() {
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;

    overflow-y: auto;
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin box-shadow {
  border-color: #efefef;
  border-radius: 1rem;
}
