@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-bottom {
      border-bottom: 1px solid #efefef !important;
    }

    .border#{$infix}-top {
      border-top: 1px solid #efefef !important;
    }

    .border#{$infix} {
      border: 1px solid #efefef !important;
    }
  }
}
