doctype html
html(lang='ru' class='h-100')
  head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Мессенджер hexlet chat
    link(rel='stylesheet' href='styles/app.css')
    - const current = 'chat';
  body.bg-gray.h-100.scrollbar.p-md-4.radius
    .container-xxl.h-100.scrollbar.border.radius-md.bg-white
      .row.h-100
        .col-sm-4.h-100.overflow-hidden.scrollbar.px-0.d-flex.flex-column.tab-content
          include header.pug
          include contact_each.pug
          include messages.pug
          include profile.pug
          include current.pug
          +chates('chat')
        .col-xl-8.h-100.overflow-hidden.scrollbar.p-0.d-none.d-lg-block.border-start.m-auto
          +chates