ul.pt-4.list-group
  li.list-group-item
    div.d-flex.justify-content-between
      p.m-0.opacity-50 Страна
      img(src='images/icons/sprite.svg#country' width='15' alt='страна')
    p.text-dark.m-0 Москва, Россия
  li.list-group-item
    div.d-flex.justify-content-between
      p.m-0.opacity-50 Телефон
      img(src='images/icons/sprite.svg#phone' width='15' alt='телефон')
    p.text-dark.m-0 +7 (499) 123-45-67
  li.list-group-item
    div.d-flex.justify-content-between
      p.m-0.opacity-50 Email
      img(src='images/icons/sprite.svg#messager' width='15' alt='Email')
    p.text-dark.m-0 nikita.m@hexlet.io
  li.list-group-item
    div.d-flex.justify-content-between
      p.m-0.opacity-50 Twitter
      img(src='images/icons/sprite.svg#chats' width='15' alt='твиттер')
    p.text-dark.m-0 @n__mikhaylov