- var activity = 'active'
if current == 'chat'
  - activity = ''
div(class='body scrollbar p-4 order-sm-1 tab-pane show fade ' + activity id='contacts' role="tabpanel" aria-labelledby="contacts")
  h2.mt-4.mb-4 Контакты
  form.mb-5
    input(type='text' class='h-0 form-control border-bottom border-0 p-4 bg-white shadow-none' placeholder='Поиск по контактам')
  include contacts.pug
  each contact, index in contacts
    p.text-muted=index
    each user in contact
      a.contact.mb-5.shadow-sm.px-3.rounded.d-flex.text-decoration-none
        img(src=user.avatar class='avatar rounded-circle' height='50' width='50' alt='avatar')
        .cursor_color
          .text-dark.px-4 #{user.name}
          .text-primary.px-4.small #{user.status}