ul.list-group.list-group-flush
  li.list-group-item
    div.d-flex.justify-content-between
      p.m-0.text-muted Страна
      img(src='images/icons/sprite.svg#country' width='15.66px' alt='страна')
    p.m-0 Москва, Россия
  li.list-group-item
    div.d-flex.justify-content-between
      p.m-0.text-muted Телефон
      img(src='images/icons/sprite.svg#phone' width='15.66px' alt='телефон')
    p.m-0 +7 (499) 123-45-67
  li.list-group-item
    div.d-flex.justify-content-between
      p.m-0.text-muted Email
      img(src='images/icons/sprite.svg#messager' width='15.66px' alt='Email')
    p.m-0 nikita.m@hexlet.io
  li.list-group-item
    div.d-flex.justify-content-between
      p.m-0.text-muted Twitter
      img(src='images/icons/sprite.svg#chats' width='15.66px' alt='твиттер')
    p.m-0 @n__mikhaylov