mixin chates(id)
  div(class='scrollbar p-0 order-sm-1 tab-pane fade show' id=id)
    div.bg-white.mb-5.px-3.status-height.rounded.border-bottom.border-0.d-flex.text-decoration-none.sticky-top
      img(src='images/avatar_4.jpg' class='avatar rounded-circle' height='50' width='50' alt='avatar')
      .text-dark.px-4
        .fw-bold Вениамин Редакторович
        .small Онлайн
    div.mx-5
      div.my-3.d-flex.align-items-md-end.width-phone
        img(src='images/avatar_4.jpg' class='d-none d-md-block rounded-circle me-3' height='50' width='50' alt='avatar')
        div.bg-light.radius.shadow-sm
          .text-dark.px-4.py-4
            .fw-bold Вениамин Редакторович
            .text-muted.pt-1.pb-2.border-bottom Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
            .small.text-opacity-50.text-muted.pt-1 8 минут назад
      div.my-3.d-flex.align-items-md-end.ms-auto.width-phone
        img(src='images/avatar_1.jpg' class='d-none d-md-block rounded-circle me-3' height='50' width='50' alt='avatar')
        div.bg-primary.radius.shadow-sm
          .text-dark.px-4.py-4
            .text-white.border-bottom.pb-2 Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
            .small.text-opacity-50.text-white.pt-1 5 минут назад
      div.my-3.d-flex.align-items-md-end.width-phone
        img(src='images/avatar_4.jpg' class='d-none d-md-block rounded-circle me-3' height='50' width='50' alt='avatar')
        div.bg-light.radius.shadow-sm
          .text-dark.px-4.py-4
            .fw-bold Вениамин Редакторович
            .text-muted.pt-1.pb-2.border-bottom Лады
            .small.text-opacity-50.text-muted.pt-1 5 минут назад
      div.my-3.d-flex.align-items-md-end.ms-auto.width-phone
        img(src='images/avatar_1.jpg' class='d-none d-md-block rounded-circle me-3' height='50' width='50' alt='avatar')
        div.bg-primary.radius.shadow-sm
          .text-dark.px-4.py-4
            .text-white.border-bottom.pb-2 А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
            .small.text-opacity-50.text-white.pt-1 3 минут назад
      div.my-3.d-flex.align-items-md-end.width-phone
        img(src='images/avatar_4.jpg' class='d-none d-md-block rounded-circle me-3' height='50' width='50' alt='avatar')
        div.bg-light.radius.shadow-sm
          .text-dark.px-4.py-4
            .fw-bold Вениамин Редакторович
            .text-muted.pt-1.pb-2.border-bottom о_О
            .small.text-opacity-50.text-muted.pt-1 только что
    form.bg-white.mx-md-5.px-3.py-md-3.pb-2.pt-3.d-flex.sticky-bottom.border-top.border-0
      input(type='text' class='h-0 form-control border-0 p-4 px-4 bg-white shadow-none' placeholder='Напишите сообщение...')
      button(type='submit' class='p-0 flex-shrink-0 button-width btn btn-primary rounded-circle btn-width')
        img(src='images/icons/sprite.svg#cursor' width='24' alt='кнопка отправки')
script(src='bootstrap.bundle.js')
