.header.order-1.bg-primary.d-flex.justify-content-around.align-items-center.pt-3.pb-3
  a.d-flex.ms-4.me-auto(href='#')
    img(src='images/icons/sprite.svg#logo' width='15px' alt='главная')
  nav.d-flex(class= "nav" id="myTab" role="tablist")
    a.d-flex.ms-3.align-items-center.text-decoration-none(id="home-tab" data-bs-toggle="tab" data-bs-target="#contacts" type="button" role="tab" aria-controls="home" aria-selected="true")
      img(class='me-2' src='images/icons/sprite.svg#people' width='25px' height='40px' alt='контакты')
      span.text-light.d-none.d-xl-block Контакты
    a.d-flex.mx-3.align-items-center.text-decoration-none(id="home-tab" data-bs-toggle="tab" data-bs-target="#chats" type="button" role="tab" aria-controls="home" aria-selected="true")
      img(class='me-2' src='images/icons/sprite.svg#chat' width='25px' height='40px' alt='сообщения')
      span.text-light.d-none.d-xl-block Сообщения
    a.d-flex.mx-3.align-items-center.text-decoration-none(id="home-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="home" aria-selected="true")
      img(class='me-2' src='images/icons/sprite.svg#person' width='25px' height='40px' alt='Профиль')
      span.text-light.d-none.d-xl-block Профиль
