div(class='body scrollbar p-4 order-sm-1 tab-pane fade show' id='profile' aria-labelledby="profile")
  h2.mt-4.mb-4 Профиль
  form.mb-5
    input(type=text class='h-0 form-control border-bottom border-0 p-4 bg-white shadow-none' placeholder='Поиск по сообщениям')
  include User_information.pug
  include Contact_details.pug