.d-flex.justify-content-center.flex-column
  img(class='rounded-circle align-self-center' src='images/avatar_1.jpg' width='200' alt='приветственное изображение')
  .text-center.mt-3
    p.fs-6.m-0 Привет, Кодовёнок
    p.text-muted.fw-light.m-0 Выбери чат, чтобы начать общаться
