.card.border-0.align-items-center.py-4.mb-3
  img(src='images/avatar_1.jpg' class='card-img-top avatar size rounded-circle' height='50px' width='50px' alt='пользователь')
  .card-body.text-center
    h5.px-3.card-title Кодовёнок Хекслетович
    p.px-3.card-text.text-muted Милый и скромный помощник начинающих разработчиков. Люблю JavaScript