- var activity = 'active'
if current == 'current-chat'
  - activity = ''
div(class='body scrollbar p-4 order-sm-1 tab-pane show fade ' + activity id='contacts' role="tabpanel" aria-labelledby="contacts")
  h2.my-4.fw-bold Контакты
  form.mb-5
    input(type='text' class='form-control border-bottom border-0 p-4 shadow-none' placeholder='Поиск по контактам')
  include contacts.pug
  each contact, index in contacts
    p.text-muted=index
    each user in contact
      a.contact.mb-5.shadow-sm.px-3.d-flex.text-decoration-none
        img(src=user.avatar class='rounded-circle' height='50' width='50' alt='avatar')
        .px-4
          .text-dark.fw-bold #{user.name}
          .text-secondary.small #{user.status}