.order-1.bg-primary.d-flex.align-items-center.pt-3.pb-3
  a.d-flex.ms-4.me-auto(href='#')
    img(src='images/icons/sprite.svg#logo' width='15' alt='главная')
  nav(class="d-flex me-3 nav" id="myTab" role="tablist")
    if current == 'current-chat'
        a.d-md-none.mx-3.d-flex.align-items-center.text-decoration-none(id="current-chat-tab" data-bs-toggle="tab" href="#current-chat" role="tab" aria-controls="current-chat" aria-selected="true")
          img(class='me-2' src='images/icons/sprite.svg#chat-left-text' width='25' height='40' alt='чаты')
    a.d-flex.mx-3.align-items-center.text-decoration-none(id="contacts-tab" data-bs-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="true")
      img(class='me-2' src='images/icons/sprite.svg#people' width='25' height='40' alt='контакты')
      span.small.text-light.d-none.d-xl-block Контакты
    a.d-flex.mx-3.align-items-center.text-decoration-none(id="message-tab" data-bs-toggle="tab" href="#chats" role="tab" aria-controls="chats" aria-selected="true")
      img(class='me-2' src='images/icons/sprite.svg#chat' width='25' height='40' alt='сообщения')
      span.small.text-light.d-none.d-xl-block Сообщения
    a.d-flex.mx-3.align-items-center.text-decoration-none(id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true")
      img(class='me-2' src='images/icons/sprite.svg#person' width='25' height='40' alt='Профиль')
      span.small.text-light.d-none.d-xl-block Профиль
