div(class='scrollbar p-4 order-sm-1 tab-pane fade show' id='profile' aria-labelledby="profile")
  h2.my-4.fw-bold Профиль
  form.mb-5
    input(type=text class='form-control border-bottom border-0 p-4 shadow-none' placeholder='Поиск по сообщениям')
  include User_information.pug
  include Contact_details.pug