@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  margin: 0;
  color: #cacaca;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

@media (min-width: 1240px) {
  .content {
    max-width: 1200px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .title {
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    text-transform: uppercase;
  }

  .subtitle {
    font-size: 38px;
  }
}
@media (max-width: 414px) {
  .content {
    padding-right: 20px;
    padding-left: 20px;
  }

  .title {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
  }

  .subtitle {
    font-size: 18px;
    line-height: 27px;
  }

  .display-grid {
    display: grid;
    grid-template-columns: 137px 138px;
    column-gap: 50px;
    row-gap: 25px;
  }

  .grid-start {
    grid-row-start: 2;
  }
}
.subtitle {
  text-transform: uppercase;
}

.third-title {
  font-size: 18px;
  text-transform: uppercase;
}

.color-white {
  color: #fff;
}

.color-dark-gray {
  color: #cacaca;
}

.color-gray {
  color: #e0e0e0;
}

.color-orange {
  color: #f89202;
}

.button-purple {
  background-color: #5328a1;
}

.button-red {
  background-color: #95390c;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;
}

.margin-btm-100 {
  margin-bottom: 100px;
}

.align-center {
  text-align: center;
}

.f-size-12 {
  font-size: 12.8px;
}

.display-flex {
  display: flex;
}

.display-flex-justify {
  display: flex;
  justify-content: center;
}

.capitalize {
  font-size: 18px;
  text-transform: capitalize;
}

.text-transform-none {
  text-transform: none;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-btm-0 {
  margin-bottom: 0;
}

.display-block {
  display: block;
}

.padding-top-100 {
  padding-top: 100px;
}

.f-size-16 {
  font-size: 16px;
}

.margin-btm-49 {
  margin-bottom: 49px;
}

.decoration-none {
  text-decoration: none;
}

.right-5 {
  padding-right: 5px;
}

.fans p {
  margin: 0;
  color: #e0e0e0;
}

@media (min-width: 1240px) {
  .display-grid {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    column-gap: 50px;
    row-gap: 25px;
  }

  .grid-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 414px) {
  .images {
    width: 137px;
    height: 137px;
  }

  .display-block-similar {
    display: block;
  }
}
.header-image-banner {
  width: 100%;
  margin: 0;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.header-image-artist {
  width: 100%;
  background-image: url("../images/Morten_Harket.png");
  background-position: center;
  background-size: cover;
}

.mrgn-0 {
  margin: 0;
}

.margin-bottom-48 {
  margin-bottom: 48px;
}

.subscription-form {
  margin-top: 32px;
}

.subtitle-form {
  font-size: 16px;
}

.name-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
  margin: 0 auto;
}

.name,
.email {
  min-width: 247px;
  min-height: 46px;
  margin-bottom: 1.5rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 22px;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.name::placeholder,
.email::placeholder {
  color: #fff;
}

.padding-btm-0 {
  padding-top: 24px;
  padding-bottom: 0;
}

.width-100 {
  width: 100%;
}

.btn-green {
  background-color: #34c176;
}

.button-artist {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 1.5rem;
}

.button-link {
  margin-right: 15px;
}

.button-paddings {
  width: 200px;
  justify-content: left;
}

.margin-top-btm-48 {
  margin-top: 48px;
  margin-bottom: 24px;
}

@media (max-width: 414px) {
  .btn-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  .padding-top-btm-header {
    padding-top: 78px;
    padding-bottom: 200px;
  }

  .button-artist {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.5rem;
  }

  .margin-mobil-btm-24 {
    margin-bottom: 24px;
  }

  .margin-left-24 {
    margin-top: 24px;
    margin-left: 0;
  }

  .margin-top {
    margin-top: 48px;
  }

  .subscription-form {
    margin-top: 0;
  }

  .subscription-access {
    display: block;
  }

  .name,
.email {
    width: 348px;
    height: 46px;
    margin-bottom: 1.5rem;
    padding-left: 22px;
    background-color: transparent;
    border: 2px solid #cacaca;
  }
}
@media (max-width: 414px) {
  .margin-btm-64 {
    margin-bottom: 64px;
  }

  .display-grid-columns {
    display: grid;
    grid-template-columns: auto;
    column-gap: 50px;
  }

  .photo {
    display: block;
    width: 374px;
    height: 186px;
  }

  .margin-23 {
    margin-bottom: 23px;
  }

  .f-size-30 {
    margin-top: 50px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
  }

  .margin-top-48 {
    margin-top: 48px;
    margin-bottom: 0;
  }

  .margin-btn-48 {
    display: grid;
    grid-template-rows: 19px;
    grid-template-columns: repeat(3, max-content);
    column-gap: 12px;
  }
}
@media (min-width: 1240px) {
  .grid-gap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 65px;
    column-gap: 50px;
  }

  .f-size-30 {
    font-weight: normal;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 45px;
    text-transform: capitalize;
  }

  .margin-btm-27 {
    margin-bottom: 27px;
  }

  .margin-btn-48 {
    display: grid;
    grid-template-rows: 19px;
    grid-template-columns: repeat(3, max-content);
    margin-bottom: 48px;
    column-gap: 12px;
  }
}
.btn-link {
  box-sizing: border-box;
  padding-top: 16px;
  padding-right: 30px;
  padding-bottom: 16px;
  padding-left: 30px;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

.grid-column-gap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.margin-top-btm {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 50px;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pricing-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-align: center;
  border-radius: 1rem;
}

.pricing-value {
  line-height: 1em;
}

.btn-border {
  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid;
  border-radius: 5px;
}

.f-size-24 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.f-size-64 {
  font-weight: normal;
  font-size: 64px;
}

.f-size-32 {
  padding-left: 16px;
  font-size: 32px;
  text-transform: uppercase;
}

.margin-btm-200 {
  margin-bottom: 200px;
}

.margin-btm-40 {
  margin-bottom: 40px;
}

.margin-top-63 {
  margin-top: 63px;
  margin-bottom: 64px;
}

.margin-top-40 {
  margin-top: 40px;
  margin-bottom: 0;
}

@media (max-width: 414px) {
  .grid-column-gap {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  .f-size-24 {
    font-size: 16px;
    line-height: 24px;
  }

  .margin-btm-200 {
    margin-top: 15px;
  }
}
.margin-btm-48 {
  margin-bottom: 48px;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn-border-radius {
  padding-top: 16px;
  padding-right: 40px;
  padding-bottom: 16px;
  padding-left: 40px;
  text-transform: none;
  border: none;
  border-radius: 32px;
}

@media (max-width: 414px) {
  .grid-content {
    grid-template-columns: auto;
  }

  .padding-btm-100 {
    padding-bottom: 100px;
  }
}
hr {
  margin-top: 24px;
  margin-bottom: 8px;
  border-color: #e0e0e0;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.padding-rem {
  padding-top: 62px;
  padding-bottom: 3rem;
}

.margin-btm-16 {
  margin-bottom: 16px;
}

.list-style-none {
  padding-left: 0;
  list-style: none;
}

.social-networks {
  display: grid;
  grid-template-rows: 20px;
  grid-template-columns: repeat(4, min-content);
  column-gap: 24px;
}

.footer-top {
  margin-top: 74px;
  margin-bottom: 40px;
  border: 1px solid #e0e0e0;
}

.footer-copyright {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-btm-16 {
  padding-bottom: 16px;
}

@media (min-width: 1240px) {
  .grid-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1240px;
  }

  .grid-starting {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    column-gap: 15px;
  }

  .left-right-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 414px) {
  .grid-block {
    display: grid;
    row-gap: 30px;
  }

  .grid-starting {
    display: grid;
    row-gap: 16px;
  }

  .margin-top-30 {
    margin-top: 30px;
  }

  .social-networks {
    grid-template-rows: 24px;
  }
}
.padding-top-btm-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.f-size-11 {
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.position-absolute {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
}

.text-decoration-none {
  text-decoration: none;
}

.active {
  color: #fff;
}

.search-form {
  width: 248px;
  height: 25px;
}

.search-form-bg {
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
}

.search-form::placeholder {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-transform: uppercase;
}

@media (min-width: 1240px) {
  .margin-top-5 {
    margin-top: 5px;
    margin-bottom: 6px;
    margin-left: 16px;
  }

  .main-navigation {
    display: flex;
    justify-content: space-between;
  }

  .inline-table {
    display: inline-table;
  }

  .site-navigation {
    display: flex;
    padding-top: 5px;
    padding-left: 90px;
    list-style: none;
  }

  .site-navigation li {
    margin-right: 24px;
  }
}
@media (max-width: 414px) {
  .inline-flex {
    display: inline-flex;
  }

  .flex-logo-center {
    align-items: center;
  }

  .flex-direction-column {
    display: flex;
    flex-direction: column;
  }

  .margin-top-5 {
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 16px;
  }

  .line-height-1 {
    line-height: 1;
  }

  .inline-block {
    display: inline-block;
  }

  .margin-top-btm-15 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .site-navigation {
    padding-left: 0;
    line-height: 1.5;
    list-style: none;
  }

  .search-form {
    width: 374px;
    height: 25px;
  }
}
.track-info {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.grid-template-rows-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 50px;
}

.items-center {
  align-items: center;
  padding-left: 15px;
}

.transform-uppercase {
  text-transform: uppercase;
}

@media (max-width: 414px) {
  .grid-template-rows-columns {
    display: grid;
    grid-template-rows: 55px;
    grid-template-columns: 1fr;
    row-gap: 25px;
    column-gap: 50px;
  }
}
.margin-top-18 {
  margin-top: 18px;
}

.discography-item img {
  display: block;
}

@media (max-width: 414px) {
  .discography-item img {
    width: 137px;
    height: 137px;
  }
}

/*# sourceMappingURL=style.css.map */
